*.backup
*.bad
*.bak
*.bed
*.csv
*.fas
*.fasta
*.fasta.complete
*.fna
*.good
*.gz
*.hide
*.hits
*.ids
*.info
*.obo
*.pdf
*.short
*.stripped
*.swissprot
*.test
*.tsv
*.txt
*.xls
*00_archive*
*~
.~lock*
goatools/*
